
#Eclipse settings
.project
.settings
.metadata
.classpath
RemoteSystemTempFiles/

# Compiled class file
./*/target/*
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

